body,html {
	background-color: #f3f3f3;
	color: #333;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
}

p {
	line-height: 18px;
	text-align: justify;
}

pre {

	overflow-x: auto;
}

a:hover {
	color: #e00;
}

#wrapper {
	background-color: #fff;
	width: 760px;
	margin:0 auto;
	padding: 15px;
	padding-top: 10px;
}

#header {
	background-color: #c9d7f1;
	border-bottom: 1px #999 solid;
	margin-bottom: 25px;
	padding: 15px 0 0 15px;
	height: 54px;
}
	#header h1 {
		font-size:28px;
		margin: 0;
		padding: 0;
	}

#content {
	float: left;
	width: 60%;
}

	#news-list {
		list-style-type: none;
		margin: 0;
		padding: 0;	
	}
	#news-list li {
		margin: 0 0 30px 0;	
	}
	#content h1, #content h2 {
		margin-top: 0;	
	}
	#content small {
		color: #888;
		font-size: 11px;	
	}
	
	#create-btn {
		background-color: #f2f2f2;
		border: 1px solid #ccc;
		color: #000;
		display: block;
		margin: 5px 0 15px 0;
		padding: 5px;
		font-weight: bold;
		text-align: center;
		text-decoration: none;
		vertical-align: middle;
		width: 140px;
	}
	#create-btn:hover {
		border-color: #a0a0a0;
		color: #000;
	}
	
	#newsform dt, #newsform dd {
		margin-bottom: 10px;
	}
	#title, #newsform textarea {
		width: 415px;
	}
	
	#news-table {
		margin-bottom: 20px;
		width: 100%;	
	}
	#news-table td {
		padding: 5px;
		vertical-align: top;	
	}
	#news-table td div {
		margin-bottom: 5px;	
	}
		
	table .odd {
		background-color: #fff;
	}
	table .even {
		background-color: #f3f3f3;
	}	

#sidebar {
	background-color: #f3f3f3;
	float: right;
	width: 30%;
	padding: 10px;
}

	#sidebar h3 {
		margin: 5px 0 15px 0;
		padding: 0;
	}
	#sidebar ul {
		margin-bottom: 5px;
	}
	#sidebar ul li {
		margin-bottom: 5px;
	}

#loginform {
	width: 228px;
	text-align: center;	
}
	#loginform dt, #loginform dd {
			margin: 0;
			padding: 0;
	}
	#loginform .errors {
		margin-left: 5px;
		padding-left: 0;
	}
	#loginform .errors li {
		
	}
	#login {
		cursor: pointer;	
	}

.submit-btn {
	cursor: pointer;
}
.action-success {
	color: #84812f;
	font-weight: bold;
}
.errors {
	color: #f00;
	font-weight: bold;
}
.rounded-corners {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
.paginator {
	padding: 5px;
	text-align: center;
}
.clear {
	clear: both;
}

#footer {
	background-color: #f3f3f;
	border-top: 1px #999 solid;
	color: #888;
	font-size:11px;
	margin-top: 15px;
	padding-top: 5px;
	text-align: center;
}